*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
}

:root{
    --bg-color: #FFFFFF;
    --section-bg-color: #EFEFEF;
    --to-do-bg-color: #e01a4f;
    --progress-bg-color: #f15946;
    --done-bg-color: #f9c22e;
    --button-bg-color: #3a3335;

    --button-color: #FFFFFF;


}
header{
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 10px;

}

button{
    color: var(--button-color);
    background-color: var(--button-bg-color);
    cursor: pointer;
    padding: 7px;
    border-radius: 0.5rem;
    
}
main{
    flex: 1;
    display: flex;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;
    background-color: var(--section-bg-color);
}


.section{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    min-width: 280px;
    border-radius: 1.5rem;
    transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
    
}
main .section.hover-over{
    scale: 1.02;
    
}
#todo{
    background-color: var(--to-do-bg-color) ;
}
#progress{
    background-color: var(--progress-bg-color);
}
#done{
    background-color: var(--done-bg-color);
}

.section-top{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: larger;
    font-weight: 600;

}

.task{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    border-radius: 1rem;
    margin: 0px 20px;
    padding: 10px;
    cursor: grab;
    
}
.task .buttons{
    align-self: flex-end;
    
}

.add-new-card{
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    visibility: hidden;
}
.add-new-card .center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35%;
    aspect-ratio: 1/1;
    background: var(--button-bg-color);
    border-radius: 1.5rem;
    gap: 20px;
}


@media(max-width: 750px){
    header{
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    main{
        flex-direction: column;
    }
    .section{
        width: 100%;
    }
}

